/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif !important;
}

/* CSS to invert colors on hover */
.navbar-nav .nav-item .nav-link:hover {
  color: #023E8A; /* Text color when hovering (white in this example) */
  background-color: #fff; /* Background color when hovering (black in this example) */
}

#landing {
	background-color: #90E0EF;
}

#projects {
	background-color: #48CAE4;
}

#tools {
	background-color: #0096C7;
}

#contact {
	background-color: #0077B6;
}

.mips {
	width: 1100px !important;
	height: 600px !important;
}

.tools-img {
	width: 150px !important;
	height: 150px !important;
}